/* slide left */
.slideleft-leave-active {
  transition: 0.3s;
  transition-timing-function: ease-in;
}
.slideleft-enter-active {
    transition: 0.4s;
    transition-timing-function: ease-out;
}
.slideleft-enter {
  transform: translate(100%, 0);
}
.slideleft-leave-to {
  transform: translate(-100%, 0);
}
/* slide right */
.slideright-leave-active {
    transition: 0.3s;
    transition-timing-function: ease-in;
  }
  .slideright-enter-active {
      transition: 0.4s;
      transition-timing-function: ease-out;
  }
  .slideright-enter {
    transform: translate(-100%, 0);
  }
  .slideright-leave-to {
    transform: translate(100%, 0);
  }

  /* email router view transition */
  .slideoutin-leave-active {
      transition: 0.4s;
      transition-timing-function:ease-in;
  } 
  .slideoutin-enter-active {
    transition: 0.4s;
    transition-timing-function:ease-out;
  }
  .slideoutin-leave-to {
    transform: translate(100%, 0);
    opacity: -1;
  }
  .slideoutin-enter {
    transform: translate(100%, 0);
    opacity: -1;
  }
/* email preview animation */
  .fade-move, .fade-enter-active, .fade-leave-active {
    transition: all .5s cubic-bezier(.55,0,.1,1);
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
  }
  .fade-leave-active {
    position: absolute;
  }

 /* BOUNCE */
.bounce-enter-active {
  animation-duration: .5s;
}
.bounce-enter-active .new-note-modal {
  animation: bounce-in .5s;

}
.bounce-leave-active {
  animation-duration: .3s;
}
.bounce-leave-active .new-note-modal {
  animation: bounce-in .3s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
