@import './miss-keep/notes-list.css';



/* ROOT */
:root {
    --background: #f0f5f9;
    --main: #c9d6df;
    --secondary: #52616b;
    --text: #1e2022;
}
html,body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

button , a {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

header, footer {
    height: 100px;
    background-color: var(--main);
    text-align: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.page-content {
    flex-grow: 1;
}


/* HOME PAGE */
.home-page {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* align-items: center; */
}

.home-page-link {
    background-color: var(--secondary);
    width: 30%;
    margin: 100px 0;
    padding: 20px;
    border-radius: 10%;
}