.screen-blur {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-blur:hover {
    cursor: pointer;
}
.screen-blur:hover .new-note-modal:hover {
    cursor: default;
}

/* NOTE FORM */

.new-note-modal {
    width: 50vw;
    margin: 0 auto;
    background-color: #f5deb3;
    border-radius: 2%;
    /* padding: 10px; */
}

.new-note-form {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    height: 200px;
    width: 100%;
    position: relative;
}

.new-note-form > * {
    /* margin: 5px; */
    border-collapse: collapse;
}

.new-note-form > input {
    padding: 10px;
    background-color: #d4d4d4;
    border: 1px solid rgba(169, 169, 169, 1);
    font-weight: bold;

}

.new-note-form > textarea {
    height: 100%;
    background-color: #ececec;
    padding: 10px;
    resize: none;
}

.new-note-form > textarea:focus , .new-note-form > input:focus {
    outline: 0;
}


/* NOTE PANEL */

.note-control-panel {
    position: relative;
    margin: 5px auto;
    width: 90%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
}
.fa-check , .fa-trash , .select-button, .fa-list-alt, .fa-palette {
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    color: goldenrod;
}
.fa-list-alt.clicked {
    color: black;
}

.fa-check:hover , .fa-trash:hover , .select-button:hover, .fa-list-alt:hover, .fa-palette:hover {
    color: black;
    cursor: pointer;
}
  
.file-select > input[type="file"] {
    display: none;
}


.new-note-form .fa-thumbtack {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5em;
    opacity: 0.3;
}


.note-img {
    border: 1px solid rgba(169, 169, 169, 1);
    padding: 3px;
    max-height: 200px;
    /* margin: 5px; */
}

.img-container {
    position: relative;
    width: fit-content;
}
.img-container:hover > .fa-trash-alt {
    display: unset;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.5;
    font-size: 2em;
}

.img-container > .fa-trash-alt {
    display: none;
}

.img-container > .fa-trash-alt:hover {
    opacity: 1;
    cursor: pointer;
}

.img-container > .fa-trash-alt:active {
    color: red;
}

.img-text-container {
    display: flex;
    flex-direction: row-reverse;
}

/* ANIMATION */
.bounce-enter-active {
    animation-duration: .5s;
}
.bounce-enter-active .new-note-modal {
    animation: bounce-in .5s;

}
.bounce-leave-active {
    animation-duration: .7s;
}
.bounce-leave-active .new-note-modal {
    animation: bounce-in .7s reverse;
}
@keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

@media (max-width: 768px) {
    .new-note-modal {
        /* transform: scale(1.5); */
        max-height: 90vh;
        width: 90vw;

    }
    .img-text-container {
        flex-direction: column;
    }
    .img-text-container img {
        max-height: 100px;
    }


    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
}