.note-preview-content {
    padding: 5px;
}
.note-preview-content > pre , .note-preview-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-preview-title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: bold;
}

.note-preview-container {
    max-height: 150px;
    width: 150px;
    transition: .3s;
    margin: 0 10px;
}

.note-preview-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.fa-thumbtack {
    opacity: 0;
}

.note-preview-container:hover .fa-thumbtack {
    opacity: 0.3;
    transition: .2s;
}

.fa-thumbtack.pinned, .fas.fa-thumbtack:hover,.note-preview-container:hover .fa-thumbtack.pinned {
    opacity: 1;
}

