.notes-list-container {
    position: relative;
}

.new-note-btn {
    border-radius: 50%;
    border: 0;
    background-color: blue;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.new-note-btn:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

