.note-preview-content {
    padding: 5px;
    padding-top: 1px;
    position: relative;
}
.note-preview-content > pre , .note-preview-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.note-preview-title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: bold;
}

.note-preview-container {
    /* max-height: 150px; */
    /* height: fit-content; */
    /* min-height: 50px; */
    /* align-self: stretch; */
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    /* width: 150px; */
    transition: .3s;
    margin: 10px;

    /* CSS COLUMN */
    break-inside: avoid;
}
.note-preview-content {
    flex-grow: 1;
}

.note-preview-container:hover {
    transform: scale(.95);
    cursor: pointer;
}

.fa-thumbtack {
    opacity: 0;
}

.note-preview-container:hover .fa-thumbtack {
    opacity: 0.3;
    transition: .2s;
}

.fa-thumbtack.pinned, .fas.fa-thumbtack:hover,.note-preview-container:hover .fa-thumbtack.pinned {
    opacity: 1;
    cursor: pointer;
}

/* .fa-thumbtack.pinned{
    color: inherit;
} */

.fa-thumbtack:active {
    transform: scale(0.9);
}

.note-preview-content .fa-image {
    opacity: 0.3;
    position: absolute;
    right: 5px;
}