.filter-radios {
    transition: .3s;
}

.filter-radios {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    /* z-index: -1; */
}
.filter-radios label{
    flex-grow: 1;
    padding: 5px;
    text-align: center;
}
.filter-radios label:hover {
  background-color: rgb(56, 139, 187);
  cursor: pointer;
}
.filter-radios input {
    display: none;
}
.filter-radios label.radioactive {
  background-color: rgb(56, 139, 187);    
}