.mister-email-content {
  flex-grow: 2;
}
.mister-email {
  display:flex;
}
.main-email {
  flex-grow: 1;
}



/* list */
.email-list {
    position: relative;
    padding: 0;
  }
  /* 1. declare transition */
  .fade-move, .fade-enter-active, .fade-leave-active {
    transition: all .5s cubic-bezier(.55,0,.1,1);
  }
  /* 2. declare enter from and leave to state */
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
  }
  /* 3. ensure leaving items are taken out of layout flow so that moving
        animations can be calculated correctly. */
  .fade-leave-active {
    position: absolute;
  }





  /* compose email btn */
  .compose-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
}
.compose-btn:hover {
  background-color: red;
  color: white;
}

/* email preview */
.email-list {

}

.email-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}
.email-prev:hover {
  background-color: lemonchiffon;
}
.email-btn.fa-trash {
  color: red;
}
.email-btn.fa-trash:hover{
  color: black;
  cursor: pointer;
}


/* email details */
.email-details .email-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

/* compose email */
.compose-email, .email-list, .email-details {
  margin: 5% 5% 0;
  display: flex;
  flex-direction: column;
}
.compose-email .compose-func {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.compose-email .label-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.compose-email label {
  display: flex;
  align-items: center;
}
.compose-email span {
  min-width: 55px;
  text-align: center;
}
.compose-email input {
  padding: 10px;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.compose-email textarea {
  resize: none;
  flex: 1;
  border: none;
  padding: 10px;
}
.compose-email input:focus, 
.compose-email textarea:focus {
  outline: none;
}
.compose-email button {
  border: none;
  background: none;
}
.compose-email button:hover {
  background-color: lightgrey;
}