/* the father element */
.mister-email {
  display:flex;
  max-height: 100%;
}

/* =================================================== */
/* the father element of the list (left side of mister email)*/
.main-email {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* ============================= */
           /* nav */
.email-list-nav {
  display: flex;
  flex-direction: column;
  /* min-height: 70px; */
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background: lightblue;
}
.email-list-nav nav {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.email-list-nav button {
  flex-grow: 1;
  background: none;
  border: none;
  padding: 10px;
}
.email-list-nav button:hover {
  background-color: rgb(56, 139, 187);
}
.email-list-nav input {
  width: 100%;
  flex-grow: 1;
  padding: 5px;
}
.email-btn.fa-trash {
  color: rgb(56, 139, 187);
  padding: 15px;
}
.email-btn.fa-trash:hover{
  color: lightblue;
  background-color: rgb(56, 139, 187);
  cursor: pointer;
}

/* ============================= */
           /* list */
.email-list {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

/* ============================= */
       /* email preview */
.email-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 30px;
  border-bottom: 1px solid lightgray;
  /* border-left: 1px solid lightgray; */
  /* border-right: 1px solid lightgray; */
  padding: 5px 8px 5px 10px;
  cursor: pointer;
}
.email-prev.notread {
  background-color: rgba(107, 186, 238, 0.349);
}
.email-prev:hover {
  background-color: lemonchiffon;
}
.preview-time {
  padding: 0px 10px;
}





/* =================================================== */
/* every router view inside mister email (left side) */
.mister-email-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}

/* home */
/* doesnt have css. if it's needed please insert here */


/* ============================= */
      /* compose email */

.compose-email .compose-func {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  min-height: 40px;
}
.compose-email .label-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.compose-email label {
  display: flex;
  align-items: center;
}
.compose-email span {
  min-width: 55px;
  text-align: center;
}
.compose-email input {
  padding: 10px;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid lightgrey;
}
.compose-email textarea {
  resize: none;
  flex: 1;
  border: none;
  padding: 10px;
}
.compose-email input:focus, 
.compose-email textarea:focus {
  outline: none;
}
.compose-email button {
  border: none;
  background: none;
}
.compose-email button:hover {
  background-color: lightgrey;
}
.compose-email .valid {
  /* TODO */
}
.compose-email .not-valid {
  box-shadow: inset 0px 0px 8px tomato;
}



/* ============================= */
       /* email details */
.email-details nav {
  display: flex;
  min-height: 30px;
  background-color: lightblue;
}
.email-details .email-btn {
  background: none;
  border: none;
  padding: 10px;
}
.email-details .email-btn:hover {
  background-color: rgb(56, 139, 187);
}

.details-container {
  margin: 0 10px;
  padding: 20px 20px 0;
  flex-grow: 1;
}

@media (max-width: 650px) {
  .mister-email {
    flex-direction: column;
  }
  .main-email {
    width: unset;
    max-height: 10%;
  }
}






/* compose email btn */
.compose-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
}
.compose-btn:hover {
background-color: red;
color: white;
}



